<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tasks</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Tasks Table -->
  <ion-card *ngIf="tasks.length > 0">
    <ion-card-content class="ion-no-padding">
        <ion-button color="primary" routerLink="/add-task">
          Add Task
        </ion-button>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Status</th>
              <th>Title</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasks" [class.completed-row]="task.status">
              <td class="center">
                <ion-select [value]="task.status" 
                (ionChange)="toggleComplete(task, $event)" 
                [class.status-completed]="task.status === 'completed'" 
                [class.status-in-progress]="task.status === 'in_progress'" 
                [class.status-not-started]="task.status === 'not_started'">
                  <ion-select-option value='completed'>Completed</ion-select-option>
                  <ion-select-option value='in_progress'>In progress</ion-select-option>
                  <ion-select-option value='not_started'>Not Started</ion-select-option>
                </ion-select>
              </td>
              <td [class.status]="task.status">
                <a routerLink='/task-details/{{ task.id }}'>
                  {{ task.title }}
                </a>
              </td>
              <td class="actions">
                <ion-button color="primary" (click)="openEditForm(task)">
                  Edit
                </ion-button>
                <ion-button color="danger" (click)="deleteTask(task)">
                  Delete
                </ion-button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-card-content>
  </ion-card>
 <div class="flex-center" *ngIf="tasks.length === 0">
  <ion-label lines="none">
    No tasks yet. Click the button below to add a task.
  </ion-label>
  <br>
  <ion-button color="primary" routerLink="/add-task">
    Add Task
  </ion-button>
 </div>

  <!-- Edit Modal -->
  <ion-modal [isOpen]="showEditModal" (didDismiss)="cancelEdit()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Edit Task</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" *ngIf="editingTask">
        <ion-item>
          <ion-label position="floating">Task Title</ion-label>
          <ion-input [(ngModel)]="editingTask.title"></ion-input>
        </ion-item>
        <ion-item style="margin-top: 8px">
          <ion-label position="floating">Description</ion-label>
          <ion-input [(ngModel)]="editingTask.description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Task Date</ion-label>
          <ion-input [(ngModel)]="editingTask.date"></ion-input>
        </ion-item>
        <ion-item style="margin-top: 8px">
          <ion-label>Status</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="editingTask.status"></ion-checkbox>
        </ion-item>
        <ion-button (click)="saveEdit()" style="margin-top: 24px">
          Save Changes
        </ion-button>
        <ion-button (click)="cancelEdit()" style="margin-top: 24px" color="medium">
          Cancel
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>