ion-button[color="primary"] {
  text-transform: initial;
}
ion-button[color="danger"] {
  text-transform: initial;
}
ion-button[color="medium"] {
  text-transform: initial;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
