<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Task Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task Details</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Task Title: {{ task.title }}</ion-card-title>
      <ion-card-subtitle>Task ID: {{ task.id }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-label>Task Description: {{ task.description }}</ion-label><br>
      <ion-label>Task Date: {{ task.date }}</ion-label><br>
      <ion-label>Task Status: {{ task.status === 'completed' ? 'Completed' : task.status === 'in_progress' ? 'In Progress' : 'Not Started' }}</ion-label>
    </ion-card-content>

    <ion-button (click)="goBack()" color="medium">Back</ion-button>
    <ion-button color="primary" (click)="openEditForm(task)">Edit</ion-button>
    <ion-button color="danger" (click)="deleteTask(task.id)">Delete</ion-button>
  </ion-card>

  <!-- Edit Modal -->
  <ion-modal [isOpen]="showEditModal" (didDismiss)="cancelEdit()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Edit Task</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" *ngIf="editingTask">
        <ion-item>
          <ion-label position="floating">Task Title</ion-label>
          <ion-input [(ngModel)]="editingTask.title"></ion-input>
        </ion-item>
        <ion-item style="margin-top: 8px">
          <ion-label position="floating">Description</ion-label>
          <ion-input [(ngModel)]="editingTask.description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Task Date</ion-label>
          <ion-input [(ngModel)]="editingTask.date"></ion-input>
        </ion-item>
        <ion-item style="margin-top: 8px">
          <ion-label>Status</ion-label>
          <ion-select [(ngModel)]="editingTask.status">
            <ion-select-option [value]="'completed'">Completed</ion-select-option>
            <ion-select-option [value]="'in_progress'">In progress</ion-select-option>
            <ion-select-option [value]="'not_started'">Not Started</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)="saveEdit()" style="margin-top: 24px" color="primary">
          Save Changes
        </ion-button>
        <ion-button (click)="cancelEdit()" style="margin-top: 24px" color="medium">
          Cancel
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-note *ngIf="task === null">
    Task not found.
  </ion-note>
</ion-content>
