ion-button[color="primary"] {
  text-transform: initial;
}
ion-button[color="danger"] {
  text-transform: initial;
}
ion-button[color="medium"] {
  text-transform: initial;
}

ion-button[type="submit"] {
  text-transform: initial;
}


.status-completed {
  color: var(--ion-color-success);
}
.status-in-progress {
  color: var(--ion-color-warning);
}
.status-not-started {
  color: var(--ion-color-medium);
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.select-status {
    margin-top: 5px;
}

.task-date {
    display: block;
    margin-top: 5px;
}
