ion-button[color="primary"] {
  text-transform: initial;
}
ion-button[color="danger"] {
  text-transform: initial;
}
ion-button[color="medium"] {
  text-transform: initial;
}

.status-completed {
  color: var(--ion-color-success);
}
.status-in-progress {
  color: var(--ion-color-warning);
}
.status-not-started {
  color: var(--ion-color-medium);
}