<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Task</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
      <ion-card-content>
        <form (ngSubmit)="addTask()">
          <ion-item>
            <ion-label position="floating">Task Title</ion-label>
            <ion-input [(ngModel)]="newTask.title"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Task Description</ion-label>
            <ion-input [(ngModel)]="newTask.description"></ion-input>
          </ion-item>
          <ion-item button (click)="openDatePicker()">
          <ion-label>Task Date</ion-label>
          <ion-text class="task-date">
            {{ newTask.date ? newTask.date  : 'Select date' }}
          </ion-text>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Status</ion-label>
            <ion-select [(ngModel)]="newTask.status" placeholder="Select status" class="select-status">
              <ion-select-option value="completed">Completed</ion-select-option>
              <ion-select-option value="in_progress">In progress</ion-select-option>
              <ion-select-option value="not_started">Not Started</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="form-buttons">
            <ion-button type="submit">Save</ion-button>
            <ion-button (click)="goBack()" color="medium">Cancel</ion-button>
          </div>
        </form>
      </ion-card-content>
  </ion-card>
  <ion-modal [isOpen]="tasksService.isDatePickerOpen" (didDismiss)="closeDatePicker()" cssClass="date-picker-modal">
    <ng-template>
      <ion-content>
        <ion-datetime [(ngModel)]="newTask.date" displayFormat="MMM DD, YYYY"></ion-datetime>
        <ion-button (click)="closeDatePicker()" style="margin-top: 8px" color="medium">
          Close
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
