<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>add-task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">add-task</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Add Task</ion-card-title>
    </ion-card-header>
    <ion-card-content>
  <ion-item>
    <ion-label position="floating">Task Title</ion-label>
    <ion-input [(ngModel)]="newTask.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Task Description</ion-label>
    <ion-input [(ngModel)]="newTask.description"></ion-input>
  </ion-item>
  <ion-item button (click)="openDatePicker()">
  <ion-label>Task Date</ion-label>
  <ion-note>
    {{ newTask.date || 'Select date' }}
  </ion-note>
</ion-item>
  <ion-item>
    <ion-label position="floating">Completed</ion-label>
    <ion-select [(ngModel)]="newTask.completed">
      <ion-select-option [value]="true">Completed</ion-select-option>
      <ion-select-option [value]="false">Not Completed</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="full" (click)="addTask()">Add Task</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-modal [isOpen]="tasksService.isDatePickerOpen" (didDismiss)="closeDatePicker()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Select Date</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeDatePicker()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-datetime [(ngModel)]="newTask.date" displayFormat="MMM DD, YYYY"></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
